.cardWrapper{
   composes: cardWrapper from '../../../App.module.css'
}
.bottomParagraph{
   composes: bottomParagraph from '../StepPhoneEmail/Step.module.css';
}

.otpContainer{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 30px;
}

.otpContainer input{
   text-align: center;
   width: 55px;
   /* height: 20px; */
   padding: 1rem;
   outline: none;
   border: none;
   font-size: 1.5rem;
   margin-left: 10px;
   border-radius: 5px;
   background-color: var(--input-bg);
   color: var(--main-text);
}


