.card{
   background: var(--second-bg);
   padding: 20px;
   border-radius: 10px;
   cursor: pointer;
}

.speakers{
   display: flex;
   align-items: center;
   position: relative;
   margin: 20px 0;
}

.avatars img, .defaultAvatar{
   width: 60px ;
   height: 60px ;
   border-radius: 50%;
   object-fit: cover;
   border: 2px solid var(--blue);
   position: absolute;
   top: 0;
   left: 0;
   background: var(--second-bg);
}

.avatars img:nth-child(1){
   /* top: 15px; */
   left: 35px;
   z-index: 2;
}

.avatars img:nth-child(2){
   /* top: 15px; */
   left: 70px;
   z-index: 2;
}

.defaultAvatar{
   background-color: var(--input-bg);
   color: var(--main-text);
   /* top: 30px; */
   left: 105px;
   z-index: 3;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;

}

.nameWrapper{
   display: flex;
   align-items: center;
}

.names{
   margin-left: 120px;
}

.names span{
   padding-bottom: 10px;
   display: inline-block;
   margin-right: 5px;
}

.peopleCount{
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.peopleCount span{
   font-weight: bold;
   margin-right: 5px;
}

.singleSpeaker .defaultAvatar {
   left: 70px;
   z-index: 2;
}