.cardWrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 6rem;
}

.card{
   width: 500px;
   max-width: 90%;
   min-height: 300px;
   background-color: var(--second-bg);
   padding: 60px 30px;
   border-radius: 20px;
   text-align: center;
}

.homeLogo{
   height: 110px;
   margin-bottom: 30px;
}

.headingContent h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
}

.headingContent p{
   font-size: 1.3rem;
   color: var(--second-text);
   margin: 10px 0 40px;
}

.headingContent p span{
   color: var(--purple);
}



.signInWrapper{
   font-size: 12px;
   margin-top: 15px;
   color: var(--second-text);
   font-family: 'Montserrat', sans-serif;
   vertical-align: middle;
}
.signInWrapper a{
   margin-left: 10px;
   color: var(--main-text);
   font-weight: bold;
   text-decoration: none;
}